
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :imagen , label: t('posts.imagen')%>
    <%= f.input :title, label: t('posts..title')%>
    <%= f.input :content, label: t('posts.content') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('common.save')  %>
  </div>
<% end %>
