<div id="<%= dom_id post %>">
  <p>
    <strong><%= t('posts.imagen') %>:</strong>
    <%= post.imagen %>
  </p>

  <p>
    <strong><%= t('posts.title') %></strong>
    <%= post.title %>
  </p>

  <p>
    <strong><%= t('posts.content') %></strong>
    <%= post.content %>
  </p>

</div>
