<div id="<%= dom_id product %>">
  <p>
    <strong><%= t('products.imagen') %></strong>
    <%= product.imagen %>
  </p>

  <p>
    <strong><%= t('products.title') %></strong>
    <%= product.title %>
  </p>

  <p>
    <strong><%= t('products.description') %></strong>
    <%= product.description %>
  </p>

</div>
